@import url('https://rsms.me/inter/inter.css');

body {
  overflow-y: scroll;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html, * {
  font-weight: 200;
  font-family: 'Inter var', 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --back-color: #fff;
  --secondary-back-color: #fff;
  --blockquote-color: #f57c00;
  --pre-color: #1565c0;
  --border-color: #fff;
  --secondary-border-color: #fff;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #000;
  --a-visited-color: #000;
  --footer-border-color: #fff;
  --footer-back-color: #fff;
  --footer-link-color: #000;
}

div {
  transition-delay: 0s;
}

div#main {
  max-width: 40rem;
}

h1, h1 a, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

b {
  font-weight: 400;
}

h1#top {
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

p a, li a {
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  /* Safari */
  text-decoration-color: #aaa;
}

.title a {
  font-weight: 300;
}

.small-icons {
  display: inline-block;
}

img#me {
  float: left;
  width: 35%;
  padding-right: 1rem;
  padding-top: 0.4rem;
}

img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

img:hover {
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;
}

a:hover, p a:hover, li a:hover, footer a:hover, .panel:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

p.center {
  margin: auto;
  width: 90%;
}

li.item {
  min-height: 90px;
}

@media only screen and (max-width: 600px) {
  li.item {
    padding-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  li.item {
    padding-bottom: 1rem;
  }
}

ul.item {
  list-style-type: square;
}

.accordion {
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.panel {
  margin-bottom: 0;
  cursor: pointer;
  outline: none;
}

.panel-content {
  margin-left: 1rem;
}

.altmetric-embed {
  padding-left: 0.3rem;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
  filter: FlipH;
}

footer {
  text-align: center;
}

footer li {
  list-style: none;
  display: inline;
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #007998;
  border-radius: 50%;
  display: inline-block;
}

.cv {
  font-size: 2rem;
  /* padding-top: 0.5rem; */
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
    text-align: center;
    background-image: url("/images/404.png");
    background-color: white;
    background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-max-width: 10%;
}

.fa-envelope:focus, .fa-envelope:hover {
  color: #fd7e14;
}

.fa-twitter:focus, .fa-twitter:hover {
  color: #009ef6;
}

.fa-linkedin-in:focus, .fa-linkedin-in:hover {
  color: #006bc3;
}

.fa-spotify:focus, .fa-spotify:hover {
  color: #00e461;
}

.fa-brain:focus, .fa-brain:hover {
  color: #831e29;
}



.wrapper {
    background:$theme-color;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
}

.sidebar-wrapper {
    background: $theme-color;
    position: absolute;
    right: 0;
    width: 280px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    a {
        color: #fff;
    }
    .profile-container {
        padding: 30px;
        //background: darken($theme-color, 10%);
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }
    .name {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tagline {
        color: rgba(256, 256, 256, 0.6);
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile {
        margin-bottom: 15px;
    }

    .avatar {
        //used for profile image
        max-width: 100px;
        margin-bottom: 15px;
        border: 0px solid #fff;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .contact-list {
        .fas, .fab {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .container-block {
        padding: 30px;
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .education-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .interests-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 60px;
    padding-right: 340px;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .section {
        margin-bottom: 60px;
    }

    .experiences-section, .educations-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title, .degree {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }
    .company, .university {
        margin-bottom: 10px;
        color: $text-grey;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
  color: darken($theme-color, 15%);
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }
    .publication-authors {
        font-style: italic;
        color: $text-grey;
        margin-bottom: 1px;
    }
    .publications-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
}


.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .level-bar {
        height: 12px;
        background: $smoky-white;
    }
    .level-bar-inner {
        height: 12px;
        background: lighten($theme-color, 15%);
    }
}



