---
layout: default
---

<div class="content">

  <div id="description">
    {% include me.html %}
  </div>
</div>

<div id="accordion">
  <h1 id="pubs" class="panel">Publications</h1>
  <div class="panel-content">
    {% include loop_publications.html %}
  </div>
  <h1 id="research" class="panel">Research</h1>
  <div class="panel-content">
    {% include projects.html %}
  </div>
  <h1 id="teaching" class="panel">Teaching</h1>
  <div class="panel-content">
    {% include teaching.html %}
  </div>
  <h1 id="reviews" class="panel">Open Reviews</h1>
  <div class="panel-content">
    {% include reviews.html %}
  </div>
  <h1 id="cv" class="panel">CV</h1>
  <div class="panel-content">
    {% include cv.html %}
  </div>
  <h1 id="coded" class="panel"><span class="fas fa-headphones-alt fa-lg", title="Tired of the academic ***t?"></span></h1>
  <!-- <h1 id="cv" class="panel">else?</h1> -->
  <div class="panel-content">
    {% include life.html %}
  </div>

</div>
