<footer class="footer">
  <ul>
  	
    <li>
      <a href="//www.win.ox.ac.uk/people/mohammad-shahdloo" title="View my WIN profile" style="text-decoration:none">
        <i class="fas fa-brain" aria-hidden="true"></i>
      </a>
    </li>
    
    <li>
      <a href="mailto:mo.shahdloo@psy.ox.ac.uk" title="Shoot me an email" style="text-decoration:none">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="//github.com/shahdloo" title="Fork me on GitHub" style="text-decoration:none">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="//twitter.com/MoShahdloo" title="Follow me on Twitter" style="text-decoration:none">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="//www.linkedin.com/in/shahdloo/" title="View my LinkdIn profile" style="text-decoration:none">
        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
    </li>

  </ul>
  <i style = "font-size:0.5em">Forked from <a href="https://github.com/oliviaguest/oliviaguest.github.io"  target="_blank" rel="noopener">Oivia Guest</a></i>
</footer>
