<p><img id="me" src="/images/me.png"></p>
<p>
	I am a researcher at the <a href="https://www.win.ox.ac.uk/research/physics-research" target="_blank" rel="noopener">MR Physics Group</a> at <a href="https://www.win.ox.ac.uk" target="_blank" rel="noopener">FMRIB Centre</a>, University of Oxford. I am also affiliated with <a href="http://www.icon.bilkent.edu.tr" target="_blank" rel="noopener">ICON Lab</a> at Bilkent Univeristy.
</p>
<p>
	I am an engineer by training; my undergraduate degree is in Electrical Engineering (2011), from Amirkabir University, Tehran.
	I was an embedded systems developer for a couple of years.
	Then, I moved to Ankara and got MSc (2017) and PhD (2020), both in EE, from <a href="http://www.ee.bilkent.edu.tr/en/" target="_blank" rel="noopener">Bilkent University</a>.</p>
<p>
	My research centers on developing methods to make MR imaging faster and more accurate.
	Recently, I am focused on reducing motion artifacts in functional MRI in non-human primates.
	Also, I investigate computational models to map representations of visual and auditory natural stimuli in the human brain.
	</br>Below, you can have a look at the stuff I am busy doing these days.
</p>
