<p><img id="me" src="/images/me.png"></p>
<p>
	I am Senior Applied Scientist at Microsoft <a href="//www.microsoft.com/applied-sciences">Applied Sciences Group</a>.
	Most recently, I was a computer vision machine learning scientist at <a href="//vicon.com">Vicon</a>, developing machine learning models for markerless motion capture.
	I have also been a researcher at Oxford 
Centre for 
Functional MR Imaging of the Brain <a href="//www.win.ox.ac.uk" target="_blank" 
rel="noopener">(FMRIB)</a>, University of Oxford.
</p>
<p>
	I was trained in Electrical Engineering at Amirkabir University and Sharif University, Tehran.
	After working on developing industrial embedded systems in the energy sector for a couple of years, I moved to Ankara where I did my graduate work in the lab of <a href="://www.icon.bilkent.edu.tr" target="_blank" rel="noopener">Tolga &#199;ukur</a>, working on MRI and computational neuroscience.</p>
<p>

	My current work centres on developing and optimising multi-modal models for efficient inference on low-powered NPU chips.
	Stretching to the past, I have explored research and development of pose-estimation and subject reidentification models, as well as developing methods for (functional) MRI imaging acquisition, reconstruction, and post-processing, and using them in understanding semantic and language processing in the brain.
	
	</br>Below, you can peek into the stuff I have been busy doing recently.
</p>
