<p><img id="me" src="/images/me.png"></p>
<p>
	I am a computer vision and machine learning scientist at <a href="//vicon.com">Vicon</a>. Before that, I was a researcher at Oxford 
Centre for 
Functional MR Imaging of the Brain <a href="https://www.win.ox.ac.uk" target="_blank" 
rel="noopener">(FMRIB)</a>, University of Oxford, working with <a href="https://users.fmrib.ox.ac.uk/~mchiew/Home.html" target="_blank" rel="noopener">Mark Chiew</a>.
</p>
<p>
	I had my undergraduate degree in Electrical Engineering from Amirkabir University, Tehran.
	After working as an embedded systems developer for a couple of years, I moved to Ankara where I did my graduate work in the lab of <a href="http://www.icon.bilkent.edu.tr" target="_blank" rel="noopener">Tolga &#199;ukur</a>.</p>
<p>
	My current research centers on developing machine learning tools for computer vision.
	Stretching from the past, I am also interested in developing methods to make MR imaging faster and more accurate, which involve physics-based as well as deep-learning based approaches.
	Recently, I was working on reducing motion artifacts and thermal noise in functional MRI in awake non-human primates and humans.
	I am also interested in building computational models to map representation of visual and auditory natural stimuli in the human 
brain, using Bayesian statistics and deep learning.
	</br>Below, you can peek into the stuff I have been busy doing recently.
</p>
