<ul class="item" >
                   <li>
                    <strong>Motion-correction for awake non-human primate fMRI</strong><br>Functional imaging of awake non-human primates is challenging not only due to their smaller brain size, but also due to excessive local field fluctuations due to animals' motion. Using a novel pulse sequence, efficient reconstruction techniques, and a custom-made multi-channel coil we aim to perform accelerated functional scans of awake monkeys.<br>
                    <div class="row aln-center">
                    <div class="col-5 col-6-medium col-12-small">
                      <a class="image fit"><img src="images/monkey.png" alt=""></a>
                    </div>
                  </div>
                  </li>
                  <br>
                   <li>
                    <strong>Trade off between fat-suppression and partial-voluming in bSSFP acquisitions</strong><br>Fat-suppression in bSSFP can be achieved using weighted average of in-phase and out-of-phase acquisitions raised to a negative power. We studied the effects of the power parameter on the trade off between fat-suppression and partial voluming under various experimental setups. We devised optimal parameter values meeting the fat-suppression and partial voluming requirements.<br>
                    <div class="row aln-center">
                    <div class="col-5 col-6-medium col-12-small">
                      <a class="image fit"><img src="images/fig2.png" alt=""></a>
                    </div>
                  </div>
                  </li>
                  <br>
                  <li>
                    <strong>Temporal receptive windows in the brain mapped via deep language networks</strong><br>Using a natural story listening experimental paradigm, we use computational models based on deep neural networks to study the effect of context integration on the representation of a large dictionary of words across the cortex. We are further interested in studying the attentional modulations of this property across cortex.<br>
                    <div class="row aln-center" >
                    <div class="col-9 col-6-medium col-12-small">
                      <a class="image fit"><img src="images/fig5.jpg" alt=""></a>
                    </div>
                  </div>
                  </li>
                  <br>
                  <li>
                    <strong>Attentional modulations of action-category representation in the brain</strong><br>We use voxelwise models to model the contribution of hundreds of objects and action to semantic representation of natural movies across cortex. We then study the attentional modulation of the semantic representation during action-based visual search.<br>
                    <div class="row aln-center">
                    <div class="col-10 col-6-medium col-12-small">
                      <a class="image fit"><img src="images/fig4.jpg" alt=""></a>
                    </div>
                  </div>
                  </li>
                </ul> 
