<span>To promote transparency of the academic publication ecosystem, I try to sign the manuscript reviews I am solicited to do, and publish them here and on PubPeer whenever possible (i.e., when a preprint is posted online).</span>
<ul class="item" >
   <li class="item">
      <span class="title">
      <a href="/uploads/reviews/FastSRM_review_shahdloo.pdf" target="_blank">FastSRM: A fast, memory efficient and identifiable implementation of the shared response model</a>
      </span>.
      <i>arXiv</i>
      <a href="https://arxiv.org/abs/1909.12537" target="_blank">1909.12537</a>.
      <div class="small-icons">
      <a href="https://arxiv.org/abs/1909.12537" title="arXiv" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i></a>
      <!-- <a href="{{ pub.biorxiv }}" title="bioRxiv" target="_blank"><i class="ai ai-biorxiv" aria-hidden="true"></i></a> -->
      <a href="https://pubpeer.com/publications/B13AFD64FB3D42FEB380438B1F4D0A" title="PubPeer" target="_blank"><i class="fas fa-comments"></i></a>
      <a href="/uploads/reviews/FastSRM_review_shahdloo.pdf" title="PDF" target="_blank"><i class="far fa-file-pdf"></i></a>
      </div>
   </li>
</ul> 
