<span>To encourage transparency of the academic publication ecosystem, I sign the manuscript peer reviews that I am solicited to do, and publish them both here and on PubPeer whenever possible (i.e., when a preprint is posted online).</span>
<ul class="item" >
   <li class="item">
     Richard H., Martin L., Pinho A.L., Pillow J., Thirion B. (2019).
      <span class="title">
      <a href="/uploads/reviews/FastSRM_review_shahdloo.pdf" target="_blank">FastSRM: A fast, memory efficient and identifiable implementation of the shared response model</a>
      </span>.
      <i>arXiv</i>
      <a href="https://arxiv.org/abs/1909.12537" target="_blank">1909.12537</a>.
      <div class="small-icons">
      <a href="https://arxiv.org/abs/1909.12537" title="arXiv" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i></a>
      <!-- <a href="{{ pub.biorxiv }}" title="bioRxiv" target="_blank"><i class="ai ai-biorxiv" aria-hidden="true"></i></a> -->
      <a href="https://pubpeer.com/publications/B13AFD64FB3D42FEB380438B1F4D0A" title="PubPeer" target="_blank"><i class="fas fa-comments"></i></a>
      <a href="/uploads/reviews/FastSRM_review_shahdloo.pdf" title="review PDF" target="_blank"><i class="far fa-file-pdf"></i></a>
      </div>
   </li>

   <li class="item"><em><b>Reply to reviewer comments on:</b></em>
     Shahdloo M., Çelik E., Ürgen B. A., Gallant J. L., and Çukur T. (2021).
      <span class="title">
      Task-Dependent Warping of Semantic Representations During Search for Visual Action Categories
      </span>.
      <i>bioRxiv</i>
      <a href="https://dx.doi.org/10.1101/2021.06.17.448789" target="_blank">10.1101/2021.06.17.448789</a>.
      <div class="small-icons">
      <!-- <a href="https://arxiv.org/abs/1909.12537" title="arXiv" target="_blank"><i class="ai ai-arxiv" aria-hidden="true"></i></a> -->
      <a href="https://www.biorxiv.org/content/10.1101/2021.06.17.448789v1" title="bioRxiv" target="_blank"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
      <a href="https://pubpeer.com/publications/941D2C08AE96AE3276683BBC722218#2" title="PubPeer" target="_blank"><i class="fas fa-comments"></i></a>
      </div>
   </li>
</ul> 
