<ul class="item" >
                   <li>
                    <strong>K-space and image reconstruction</strong><br>This talk provides some intuition about the concept of spatial encoding in MRI by introducing the k-space, and elaborates more on some of the special sampling scenarios. Also, introduction to baiscs of parallel imaging is provided. This talk was presented during the educational course at ISMRM British Chapter MR-Fest 2021 
                    <a href="/uploads/kspace.pdf" title="slides" style="text-decoration:none" target="_blank">
                    <i class="far fa-file-pdf" aria-hidden="true"></i>
                    </a> <a href="/uploads/kspace.html" title="transcript" style="text-decoration:none" target="_blank">
                    <i class="fas fa-closed-captioning" aria-hidden="true"></i>
                    </a>
                    <br><br><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1OUW1lvLnyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </li>
                  <br>
                   
                  
                </ul> 
